{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Orders - Pizza & Subs
{% endblock %}

{% block content %}
{% if orders %}
<div class="container-fluid" id="orders-admin">
    <h1 class="my-3">All orders</h1>
    <div class="table-responsive text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Food</th>
                    <th scope="col">Addon</th>
                    <th scope="col">Top 1</th>
                    <th scope="col">Top 2</th>
                    <th scope="col">Top 3</th>
                    <th scope="col">Ex. cheese</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Tr. Id</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.food }}</td>
                    <td>{{ order.addon }}</td>
                    <td>{{ order.topping1 }}</td>
                    <td>{{ order.topping2 }}</td>
                    <td>{{ order.topping3 }}</td>
                    <td>{{ order.extra_cheese }}</td>
                    <td>{{ order.size }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.transaction_id.transaction_id }}</td>
                    <td class="text-center cross-sign" style="cursor: pointer;">
                        {% if order.status|stringformat:"s" == "Completed" %}
                        <button type="button" class="btn btn-primary btn-sm" disabled>Complete</button>
                        {% else %}
                        <button type="button" class="btn btn-primary btn-sm">Complete</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination justify-content-center mt-2">
        <span class="step-links">
            {% if orders.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ orders.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
            </span>

            {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">next</a>
            <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% else %}
<p class="lead text-center mt-5">No orders left!</p>
{% endif %}
<!-- <script src="{% static 'orders/js/index.js' %}"></script> -->
{% endblock %}