{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Orders - Pizza & Subs
{% endblock %}

{% block content %}
{% if orders %}
<div class="container-fluid">
    <h1 class="mb-3">My orders</h1>
    <div class="table-responsive text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Food</th>
                    <th scope="col">Addon</th>
                    <th scope="col">Topping 1</th>
                    <th scope="col">Topping 2</th>
                    <th scope="col">Topping 3</th>
                    <th scope="col">Extra cheese</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.food }}</td>
                    <td>{{ order.addon }}</td>
                    <td>{{ order.topping1 }}</td>
                    <td>{{ order.topping2 }}</td>
                    <td>{{ order.topping3 }}</td>
                    <td>{{ order.extra_cheese }}</td>
                    <td>{{ order.size }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p class="lead text-center mt-5">Sorry! You haven't ordered anything yet.</p>
{% endif %}
<script src=""></script>
{% endblock %}