{% extends "orders/base.html" %}

{% block title %}
Successful payment - Pizza & Subs
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card-container d-flex justify-content-center align-items-center text-center mt-5">
        <div class="payment-status-card">
            <div class="payment-status-circle mb-2">
                <i class="payment-status-icon payment-status-icon-success">✓</i>
            </div>
            <h1 class="success-header">Success</h1> 
            <p>We've received your payment and we will be in touch shortly!</p>
            <br />
            <a href="/">Purchase more</a>
        </div>
    </div>
{% endblock %}